<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.bizg1.db.dao.GmsUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dyny.bizg1.db.entity.GmsUser">
        <id column="user_id" property="userId" />
        <result column="region_id" property="regionId" />
        <result column="customer_id" property="customerId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, region_id, customer_id, create_time
    </sql>

</mapper>
